/*****************************
 * Change main ODI stylesheet
 *****************************/
html, body {
	height: 100%;
	min-width: 720px;
}
#page {
	min-height: 100%;
	position: relative;
}
#topbar {
	height: 70px;
}
#home {
	cursor: pointer;
}
#topbar .navbar-inner {
	height: 70px;
}
#topbar .navbar-inner h1 {
	float: left;
	top: 10px;
}
#topbar .navbar-inner .brand {
	position: relative;
	float: right;
	display: inline-block;
	left: 0px;
}
#mainnav {
	display: none;
}
#page-title {
	display: none;
}
.content {
	max-width: 1180px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
}
#welcome {
	text-align: center;
}
#welcome-image {
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}
#sign-in-email {
	padding-top: 2em;
}
input, input[type="text"], input[type="email"] {
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
	height: inherit;
	width: inherit;
}
#email-input {
	width: 80%;
}
#email-help {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px; 
}
item {
	display: block;
}
section label {
	width: 25%;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	font-size: 1.4em;
	vertical-align: sub;
}
button {
	background-color: #00b7ff;
	border-radius: 4px;
	outline: none;
	padding: 10px 30px 10px 30px;
	font-size: 1.2em;
}
#footer {
	padding-top: 20px;
	padding-bottom: 0px;
	position: absolute;
	width: 100%;
	bottom: 0px;
}
.footer-content {
	width: 100%;
}
.footer-content h1 {
	display: inline-block;
	float: left;
}
.license {
	display: inline-block;
	float: right;
}
.extra-bit {
	width: 20%; 
	display: inline-block;
}
.grid li {
	line-height: 24px;
	list-style: none;
	padding: 30px 20px 0px 20px;
	display: inline-block;
	border: 1px solid black;
	margin: 10px;
	width: 20%;
	height: 70px;
	vertical-align: middle;
	cursor: pointer;
}
.staff li {
	list-style: none;
	display: inline-block;
	width: 20%;
	height: 200px;
	vertical-align: middle;
	cursor: pointer;
}
banner {
	display: block;
	position: fixed;
	top: -10px;
	left: 10%;
	width: 80%;
	height: 150px;
	border-radius: 10px;
	background: rgba(0,183,255,0.9);
	z-index: 400;
	text-align: center;
}
banner content {
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-size: 2em;
}
.touch-in-event {
	display: inline-block;
	float: left;
	padding-left: 50px;
	font-size: 2em;
}
.touch-in-detail {
	display: inline-block;
	font-size: 2em;
}
