<section id="complete" style="display: none;">
	&nbsp;<br/>
	<h1>Thank-You!</h1>
	<button id="home-button1" style="margin-bottom: 1em;">Return to Home Screen</button>
	&nbsp;<br/>
	<br/>
	<div id="regular">
	<h1 id="regular-title">Regular visitor?</h1>
	<p class="reg-help">Why not associate a contactless card with your account and then you can simply touch in and out next time.</p>
	
	<button id="add-card">Associate NFC Card</button>
	<p id="new-card" style="display: none;">Please put card on the reader</p>
	
	<p class="reg-help">Supported Cards: Oyster, ITSO, Contactless (e.g. bank) and any other MiFare card.</p>
	</div>
	<div id="midata">
	<img src="img/midata.jpeg" width="300px" alt="MiData"/>
	<p>Get semi-regular email updates containing your RAW data.</p>
	<span id="midata-subscription-status">
		<button id="midata-subscribe">Subscribe</button>
	</span>
	</div>
</section>
