<section id="reception-options" style="display: none;">
	<form id="receptions-options" action="javascript:void(0);">
		<input id="email" name="email" type="hidden"></input>
		<input id="name" name="name" type="text"></input>
		<section id="alerts-section" style="display: none;">
		<h2>Alerts</h2>
		<p>Subscribe/Unsubscribe from alerts about your visitors on this device</p>
		<section id="alerts-subscription-status">
			<button id="alerts-subscribe" name="alerts">Subscribe</button>
		</section>
		<hr/>
		</section>
		<section id="midata-section">
		<img src="../img/midata.jpeg" width="300px" alt="MiData"/>
		<p>Subscribe/Unsubscribe from monthly updates containing your own raw data stored in the reception system</p>
		<section id="midata-subscription-status">
			<button id="midata-subscribe">Subscribe</button>
		</section>
		</section>
	</form>
</section>
