<section id="sign-in-terms" style="display: none;">
	<h2>Hello</h2>	
	<p id="terms">We request that you sign in (it is optional).</p>	
	<p id="terms">If you do:</p>
	<p id="terms">We will use your data to count the number of people who come and visit us. We also track who is in the building as part of our fire and safety procedures.</p>
	<p id="terms">We will not use your data for anything else without your explicit opt-in.</p>
	<p id="terms">I hope you enjoy your visit.</p>
	<p id="terms">Gavin Starks<br/>CEO</p>
	<button id="terms-agree">Agree</button>
</section>
