<section id="sign-in-name" style="display: none;">
	<h2>Details</h2>
	<p id="details-text"></p>
	<item><label>Firstname</label><input class="input" type="text" id="firstname" required></input><span class="extra-bit">&nbsp;</span></item>
	<item><label>Lastname</label><input class="input" type="text" id="lastname" required></input><span class="extra-bit">&nbsp;</span></item>
	<item id="sector-name" style="display: none;"><label>sector</label><input class="input" type="text" id="sector" disabled></input><span class="extra-bit"><button id="change-sector">Change sector</button></span></item>
	<item><label>email address</label><input class="input" type="email" id="email" required></input><span class="extra-bit">&nbsp;</span></item>
	<button id="name-next">Next</button>
</section>
