<section id="sign-in-sector" style="display: none;">
	<h2>Sector</h2>
	<p>Please choose a sector which best describes your work, current role or sector of interest in visiting the ODI.</p>
	<ul name="sector" class="grid">
		<li id="sectorOption" value="finance">Finance</li>
		<li id="sectorOption" value="education">Education</li>
		<li id="sectorOption" value="public_sector">Public Sector</li>
		<li id="sectorOption" value="health">Health</li>
		<li id="sectorOption" value="legal">Legal</li>
		<li id="sectorOption" value="charity">Charity</li>
		<li id="sectorOption" value="not-for-profit">Not for profit</li>
		<li id="sectorOption" value="small_business">Small business</li>
		<li id="sectorOption" value="large_corporation">Large Corporation</li>
		<li id="sectorOption" value="creative_arts_culture">Creative arts &amp; culture</li>
		<li id="sectorOption" value="media">Media</li>
		<li id="sectorOption" value="other">Other</li>
	</ul>
</section>
