<section id="sign-in-email" style="display: none;">
	<form id="email-form" action="javascript:void(0);">
		<h2>Please enter your <b>email</b></h2>
		<br/>
		<input id="email-input" name="email" type="email"></input>
		<br/>
		<p id="email-help">An email address as a piece of data is usually unique, unlike a name. We use them to tell the difference between one "John Smith" and another.</p>
		<p id="details-text"></p>
		<item><label>Firstname</label><input class="input" type="text" id="firstname" required></input><span class="extra-bit">&nbsp;</span></item>
		<item><label>Lastname</label><input class="input" type="text" id="lastname" required></input><span class="extra-bit">&nbsp;</span></item>
		<div id="role" style="display: none;">
		<item id="role-name"><label>Role</label>
		<select class="input" id="role">
		<option name="visitor" value="visitor">Visitor</option>
		<option name="startup" value="startup">Startup</option>
		<option name="staff" value="staff">ODI Staff</option>
		</select>
		<span class="extra-bit">&nbsp;</span></item>
		</div>
		<button id="name-next">Sign in</button>
	</form>
	<subsection id="sign-in-privacy">
		<h3>How do we use this data?</h3>
		<p>1: To create aggregated reports for our funders and community on the reach of the ODI, this helps us secure new funding and keep going.</p>
		<p>2: To enable us to audit the attendance of paid ODI events and training and provide a legal proof of fulfilment of contract.</p>
		<p>If your visit is not related to a paid event or training and you feel that your own legitimate interest outweighs that outlined in (1) then you can choose not to sign-in.</p>
		<p>We do not share the raw data with anyone outside the ODI.</p>
		<p>If you would like to receive a copy of your sign-in record (the data) via email please click sign-in (with receipt).</p>
		<p>Click here to view the full ODI privacy policy</p>
	</subsection>

</section>
