<section id="sign-in-to-see" style="display: none;">
	<h2>Here to see?</h2>
	<p id="to-see-help">Please enter the name of the person you are here to see so we can inform them that you are here. If you are not here to see anyone specific, simply press next.</p>
	<input id="here-to-see-input" name="to-see" type="text"></input>
	<br/>
	<h3 id="suggestions" style="display: none;">Suggestions - Click to select</h3>
	<ul id="to-see-sugestions" class="staff">
	</ul>
	<button id="to-see-next">Next</button>	
</section>
