<section id="sign-in-email" style="display: none;">
	<form id="email-form" action="javascript:void(0);">
		<h2>Please enter your <b>email</b></h2>
		<br/>
		<input id="email-input" name="email" type="email"></input>
		<br/>
		<p id="email-help">An email address as a piece of data is usually unique, unlike a name. We use them to tell the difference between one "John Smith" and another.</p>
		<p id="details-text"></p>
		<item><label>Firstname</label><input class="input" type="text" id="firstname" required></input><span class="extra-bit">&nbsp;</span></item>
		<item><label>Lastname</label><input class="input" type="text" id="lastname" required></input><span class="extra-bit">&nbsp;</span></item>
		<item id="role-name"><label>Role</label>
		<select class="input" id="role">
		<option name="visitor" value="visitor">Visitor</option>
		<option name="startup" value="startup">Startup</option>
		<option name="staff" value="staff">ODI Staff</option>
		</select>
		<span class="extra-bit">&nbsp;</span></item>
		<button id="name-next">Sign in</button>
	</form>
</section>
